*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  background: #0f1617;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}
