.block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 1vh;
}

.name {
  font-size: 5vw;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: white;
  margin: 0;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
}

.description {
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: white;
  margin: 0;
  text-transform: uppercase;
  background: #464e9f;
  padding: 0.45em 0.5em;
  cursor: default;
  user-select: none;
}
